* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 70vw;
    border: 1px solid black;
    margin-top: 60px;
    min-width: 700px;
}


h1 {
    font-size: 200%;
    text-align: center;
}

label {
    font-size: 150%;
    margin: 5px;
}

input {
    width: 70px;
    height: 25px;
}

.container {
    /* border: 1px solid black; */
    display: flex;
    height: 50vh;
    justify-content: center;

}

.principal {
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
    
}

.painel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
}

button {
    
    margin: 15px;
    padding: 5px;
}

img {
    width: 50%;
    min-width: 200px;
    flex-grow: 1;
    /* height: 40%; */
    
}